@import '_variables';

@mixin font-face( $size, $weight, $style, $color ) {
    font-size: $size;
    font-weight: $weight;
    font-style : $style;
    color: $color;
}
@mixin flex($direction, $horizontal, $vertical) {
    display: flex;
    flex-direction: $direction;
    justify-content: $horizontal;
    align-items: $vertical;
}
@mixin gutter() {
    padding: 0 $gutter;
}
@mixin transition($duration) {
    transition: all $duration ease;
}
@mixin boxShadow($color) {
    box-shadow: 4px 4px 15px rgba($color,.15);
    &:hover {
        box-shadow: 4px 4px 15px rgba($color,.35);
    }
}
@mixin button {
    @include flex(row, center, center);
    background-color: $primary-color;
    transition: all .3s ease;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    padding: 16px 25px;
    color: #fff;
    &:hover {
        background-color: $hover-button;
    }
}
@mixin input {
    font-size: 14px;
    color: $primary-color;
}

// media queries
@mixin media($keys...) {
    @each $key in $keys { 
        @media (min-width: map-get($breakpoints, $key)) {
            @content;
        } 
    }
}
