@mixin flex($alignement, $direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: $alignement;
    align-items: center;
}
@mixin gutter() {
    padding: 0 $gutter;
}
@mixin transition($duration) {
    transition: all $duration ease;
}
@mixin button {
    @include flex(center, row);
    background-color: $primary-color;
    transition: all .3s ease;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    padding: 16px 25px;
    &:hover {
        background-color: $hover-button;
    }
}
@mixin input {
    font-size: 14px;
    color: $primary-color;
}

// media queries
@mixin media($keys...) {
    @each $key in $keys { 
        @media (min-width: map-get($breakpoints, $key)){
            @content
        } 
    }
}