// typos
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

// mixins + variables
@import 'variables';
@import 'mixins';
@mixin font-face( $size, $weight, $style, $color ) {
    font-family: 'Source Sans Pro', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap") format("woff2");
    font-size: $size;
    font-weight: $weight;
    font-style : $style;
    color: $color;
}

// reset CSS et generalites
@import 'general';

// ---------------------------- navbar ----------------------------
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
@include media(large) {
    .navbar {
        display: flex;
    }
}
.navbar-toggler {
    @include media(large){
        display: none;
    }
    background: none;
    z-index: 1;
    .hamburger-logo {
        width: 20px;
        height: 20px;
        rect {
            @include transition(.6s);
            transform-origin: center;
            fill: rgb(255, 255, 255);
        }
    } 
    .hamburger-logo--open {
        rect {
            fill: #000;
        }
        rect:nth-child(1) {
            transform: rotate(135deg) translate(0%,40%);
        }
        rect:nth-child(2) {
            transform: translateX(100%);
            opacity: 0;
        }
        rect:nth-child(3) {
            transform: rotate(-135deg) translate(-0%,-40%);
        }
    }
}

.navbar-desktop {
    display: none;
    @include media(large) {
        display: block;
    }
}
.overlayer {
    @include flex(center, row);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: none;
    &--open {
        display: flex;
    }
    @include media(large) {
        display: none;
    }
}
.navbar-section {
    @include flex(space-between, row);
    @include gutter();
    position: relative;
    height: $navbar-height;
    background: linear-gradient(to right, rgb(17, 88, 154), rgb(3, 169, 245));
    z-index: 2;
    .reezocar-logo {
        width: 236px;
        height: 33px;
    }
    .reezocar-logo--close {
        path {
            fill: #fff;
        }
    }
    .reezocar-logo--open {
        path {
            fill: #313131;
        }
        path:nth-last-child(-n+2) {
            fill: #F29400;
        }
    }
    .account-mob {
        @include font-face( 25px, 400, normal, #fff );
        @include media(large) {
            display: none;
        }
    }
    .account-desktop {
        @extend .account-mob;
        @include button;
        display: none;
        font-size: 14px;
        @include media(large) {
            display: flex;
        }
    }
}

.sub-navbar {
    @include flex(space-between, row);
    @include transition(.3s);
    flex-direction: column;
    position: absolute;
    bottom: $navbar-height;
    left: 0;
    width: 100%;
    height: calc(100vh - $navbar-height);
    background-color: #fff;
    z-index: 1;
    &--open {
        bottom: calc(-100vh + $navbar-height);
    }
    nav {
        width: 100%;
    }
    @include media(large) {
        display: none;
    }
}
.navbar {
    .nav-item, .dropdown-toggle {
        @include font-face( inherit, 400, normal, $primary-color );
        @include transition(.3s);
        &:not(.dropdown-toggle):hover {
            background: $primary-color;
            color: #fff;
        }
        @include media(large) {
            color: #fff;
            &:not(.dropdown-toggle):hover {
                background: none;
            }
        }
    }
}
.dropdown {
    position: relative;
}

.nav-link {
    @include gutter();
    @include flex(flex-start, row);
    gap: 10px;
    height: 70px;
    text-decoration: none;
}

.nav-icon {
    @include flex(center, row);
    width: 30px;
    height: 100%;
    i {
        font-size: 24px;
    }
}
.dropdown-toggle {
    @include transition(.3s);
    @include gutter();
    @include flex(space-between, row);
    text-decoration: none;
    .nav-link {
        padding: 0;
    }
    .fa-chevron-down {
        @include transition(.3s);
        &--open {
            transform: rotate(180deg);
        }
    }
    @include media(large) {
        gap: 10px;
    }
}

.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    @include transition(.4s);
    .nav-link {
        height: 50px;
    }
    &--open {
        max-height: 100px;
    }
    @include media(large) {
        position: absolute;
        bottom: -100px;
        left: -10px;
        opacity: 0;
        overflow: visible;
        width: 170px;
        max-height: max-content;
        background-color: #fff;
        box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
        border-radius: 10px;
        .nav-item:not(.dropdown-toggle) {
            @include flex(center, row);
            color: $tertiary-color;
            &:hover {
                color: $tertiary-color;
                font-weight: 600;
            }
        }
        &--open {
            opacity: 1;
        }
    }
}

.navbar-contact {
    width: 100%;
    height: 87px;
    background-color: $secondary-color;
    @include flex(space-evenly, row);
    .contact {
        @include flex(center, column);
        @include transition(.3s);
        gap: 10px;
        text-decoration: none;
        @include font-face( 12px, 400, normal, #fff );
        i {
            font-size: 35px;
        }
    }
}

// section
section {
    @include gutter();
    margin-bottom: 50px;
    h2 {
        font-size: $title;
        color: $secondary-color;
        @include media(small) {
            font-size: 38px;
        }
    }
    .subtitle {
        font-size: $subtitle;
        a {
            font-weight: 600;
        }
        @include media(small) {
            margin-top: 15px;
            font-size: 18px;
        }
    }
    .primary-color {
        color: $primary-color;
    }
}
#recherche {
    color: #fff;
    background: linear-gradient(90deg, $primary-color, $secondary-color);
    padding: calc($navbar-height + 56px) $gutter 0;
    .title {
        margin: 0 0 40px 0;
    }
    h1 {
        font-size: 26px;
        font-weight: 700;
        max-width: 263px;
        margin: 10px auto;
        @include media(medium) {
            font-size: 36px;
            max-width: fit-content;
        }
    }
    p {
        font-weight: 300;
        font-size: 14px;
        margin: 0 auto;
        a {
            font-weight: 500;
        }
        @include media(medium) {
            font-size: 18px;
            max-width: 665px;
        }
    }
    .search-form {
        @include flex(center, row);
    }
    .input-group {
        @include transition(.3s);
        @include flex(flex-start, row);
        width: 100%;
        border-radius: $border-radius;
        max-width: 665px;
        &:focus-within {
            box-shadow: rgb(0 0 0 / 50%) 0px 4px 15px;
        }
    }
    .search-input {
        @include input;
        padding: 0 70px 0 10px;
        height: 55px;
        border-radius: $border-radius 0 0 $border-radius;
        width: calc(100% - 55px);
        
    }
    .search-button {
        width: 55px;
        height: 55px;
        font-size: 25px;
        border-radius: 0 $border-radius $border-radius 0;
        background: #fff;
        color: $primary-color;
    }
    .voitures {
        position: relative;
        top: 5vw;
        width: calc(100% + 40px);
        margin: 0 -20px;
        &.carMob {
            display: block;
            @include media(medium, large) {
                display: none;
            }
        }
        &.carLaptop {
            display: none;
            @include media(medium) {
                display: block;
            }
            @include media(large) {
                display: none;
            }
        }
        &.carDesktop {
            display: none;
            @include media(large) {
                display: block;
            }
        }
    }
}

#pourquoi {
    .avis {
        @include flex(space-evenly, row);
        margin-top: 50px;
        article {
            @include flex(center, row);
            gap: 10px;
        }
    }
    .logo {
        font-size: 50px;
        width: 50px;
        img {
            width: 100%;
            vertical-align: bottom;
        }
    }
    .fa-facebook {
        color: #1877F2;
    }
    .avis-number {
        @include flex(flex-start, column);
        align-items: baseline;
        @include media(small) {
            flex-direction: row;
        }
    }
    .moyenne {
        font-size: 28px;
        color: $secondary-color;
        font-weight: 700;
        @include media(small) {
            font-size: 36px;
        }
    }
    .total-avis {
        font-size: 14px;
        @include media(small) {
            font-size: 18px;
        }
    }
    .raisons {
        @include flex(center, column);
        gap: 18px;
        margin-top: 50px;
        @include media(large) {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    .choices, .controls, .satisfy {
        @include flex(center, row);
        gap: 30px;
        @include media(large) {
            flex-wrap: wrap;
            width: 340px;
        }
    }
    .controls {
        flex-direction: row-reverse;
    }
    .img-raison {
        flex-basis: 110px;
        @include media(small) {
            flex-basis: 220px;
        }
        @include media(large) {
            flex-basis: 100%;
            height: 280px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .text-raison {
        flex-basis: calc(100% - 128px);
        font-size: 14px;
        @include media(small) {
            font-size: 16px;
            flex-basis: calc(100% - 248px);
        }
        @include media(large) {
            flex-basis: 100%;
        }
        h3 {
            color: $secondary-color;
            font-size: 18px;
            @include media(small) {
                font-size: 24px;
            }
        }
        p {
            margin: 10px 0;
        }
    }
    .occasion {
        @include flex(center, row);
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 50px;
    }
    .video-occasion {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        flex-basis: 100%;
        border-radius: 10px;
        overflow: hidden;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        @include media(large) {
            flex-basis: 50%;
        }
    }
    .text-occasion {
        display: none;
        flex-basis: calc(50% - 40px);
        h3 {
            font-size: 26px;
            color: $primary-color;
        }
        p {
            font-size: 16px;
            color: $tertiary-color;
        }
        @include media(large) {
            @include flex(flex-start, row);
            flex-wrap: wrap;
            gap: 18px;
        }
    }
    .btn-occasion {
        a {
            @include button();
            color: #fff;
        }
    }
}
