@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
}

.text-center {
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 1025px) {
  .navbar {
    display: flex;
  }
}
.navbar-toggler {
  background: none;
  z-index: 1;
}
@media (min-width: 1025px) {
  .navbar-toggler {
    display: none;
  }
}
.navbar-toggler .hamburger-logo {
  width: 20px;
  height: 20px;
}
.navbar-toggler .hamburger-logo rect {
  transition: all 0.6s ease;
  transform-origin: center;
  fill: rgb(255, 255, 255);
}
.navbar-toggler .hamburger-logo--open rect {
  fill: #000;
}
.navbar-toggler .hamburger-logo--open rect:nth-child(1) {
  transform: rotate(135deg) translate(0%, 40%);
}
.navbar-toggler .hamburger-logo--open rect:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}
.navbar-toggler .hamburger-logo--open rect:nth-child(3) {
  transform: rotate(-135deg) translate(0%, -40%);
}

.navbar-desktop {
  display: none;
}
@media (min-width: 1025px) {
  .navbar-desktop {
    display: block;
  }
}

.overlayer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: none;
}
.overlayer--open {
  display: flex;
}
@media (min-width: 1025px) {
  .overlayer {
    display: none;
  }
}

.navbar-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  height: 64px;
  background: linear-gradient(to right, rgb(17, 88, 154), rgb(3, 169, 245));
  z-index: 2;
}
.navbar-section .reezocar-logo {
  width: 236px;
  height: 33px;
}
.navbar-section .reezocar-logo--close path {
  fill: #fff;
}
.navbar-section .reezocar-logo--open path {
  fill: #313131;
}
.navbar-section .reezocar-logo--open path:nth-last-child(-n+2) {
  fill: #F29400;
}
.navbar-section .account-mob, .navbar-section .account-desktop {
  font-family: "Source Sans Pro", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap") format("woff2");
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
@media (min-width: 1025px) {
  .navbar-section .account-mob, .navbar-section .account-desktop {
    display: none;
  }
}
.navbar-section .account-desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 88, 154);
  transition: all 0.3s ease;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  padding: 16px 25px;
  display: none;
  font-size: 14px;
}
.navbar-section .account-desktop:hover {
  background-color: rgb(14, 72, 125);
}
@media (min-width: 1025px) {
  .navbar-section .account-desktop {
    display: flex;
  }
}

.sub-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  flex-direction: column;
  position: absolute;
  bottom: 64px;
  left: 0;
  width: 100%;
  height: calc(100vh - 64px);
  background-color: #fff;
  z-index: 1;
}
.sub-navbar--open {
  bottom: calc(-100vh + 64px);
}
.sub-navbar nav {
  width: 100%;
}
@media (min-width: 1025px) {
  .sub-navbar {
    display: none;
  }
}

.navbar .nav-item, .navbar .dropdown-toggle {
  font-family: "Source Sans Pro", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap") format("woff2");
  font-size: inherit;
  font-weight: 400;
  font-style: normal;
  color: rgb(17, 88, 154);
  transition: all 0.3s ease;
}
.navbar .nav-item:not(.dropdown-toggle):hover, .navbar .dropdown-toggle:not(.dropdown-toggle):hover {
  background: rgb(17, 88, 154);
  color: #fff;
}
@media (min-width: 1025px) {
  .navbar .nav-item, .navbar .dropdown-toggle {
    color: #fff;
  }
  .navbar .nav-item:not(.dropdown-toggle):hover, .navbar .dropdown-toggle:not(.dropdown-toggle):hover {
    background: none;
  }
}

.dropdown {
  position: relative;
}

.nav-link {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 70px;
  text-decoration: none;
}

.nav-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
}
.nav-icon i {
  font-size: 24px;
}

.dropdown-toggle {
  transition: all 0.3s ease;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
.dropdown-toggle .nav-link {
  padding: 0;
}
.dropdown-toggle .fa-chevron-down {
  transition: all 0.3s ease;
}
.dropdown-toggle .fa-chevron-down--open {
  transform: rotate(180deg);
}
@media (min-width: 1025px) {
  .dropdown-toggle {
    gap: 10px;
  }
}

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}
.dropdown-menu .nav-link {
  height: 50px;
}
.dropdown-menu--open {
  max-height: 100px;
}
@media (min-width: 1025px) {
  .dropdown-menu {
    position: absolute;
    bottom: -100px;
    left: -10px;
    opacity: 0;
    overflow: visible;
    width: 170px;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    background-color: #fff;
    box-shadow: 0px 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 10px;
  }
  .dropdown-menu .nav-item:not(.dropdown-toggle) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(49, 49, 49);
  }
  .dropdown-menu .nav-item:not(.dropdown-toggle):hover {
    color: rgb(49, 49, 49);
    font-weight: 600;
  }
  .dropdown-menu--open {
    opacity: 1;
  }
}

.navbar-contact {
  width: 100%;
  height: 87px;
  background-color: rgb(3, 169, 245);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-contact .contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  gap: 10px;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap") format("woff2");
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
.navbar-contact .contact i {
  font-size: 35px;
}

section {
  padding: 0 20px;
  margin-bottom: 50px;
}
section h2 {
  font-size: 24px;
  color: rgb(3, 169, 245);
}
@media (min-width: 600px) {
  section h2 {
    font-size: 38px;
  }
}
section .subtitle {
  font-size: 14px;
}
section .subtitle a {
  font-weight: 600;
}
@media (min-width: 600px) {
  section .subtitle {
    margin-top: 15px;
    font-size: 18px;
  }
}
section .primary-color {
  color: rgb(17, 88, 154);
}

#recherche {
  color: #fff;
  background: linear-gradient(90deg, rgb(17, 88, 154), rgb(3, 169, 245));
  padding: 120px 20px 0;
}
#recherche .title {
  margin: 0 0 40px 0;
}
#recherche h1 {
  font-size: 26px;
  font-weight: 700;
  max-width: 263px;
  margin: 10px auto;
}
@media (min-width: 768px) {
  #recherche h1 {
    font-size: 36px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
#recherche p {
  font-weight: 300;
  font-size: 14px;
  margin: 0 auto;
}
#recherche p a {
  font-weight: 500;
}
@media (min-width: 768px) {
  #recherche p {
    font-size: 18px;
    max-width: 665px;
  }
}
#recherche .search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#recherche .input-group {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  max-width: 665px;
}
#recherche .input-group:focus-within {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 15px;
}
#recherche .search-input {
  font-size: 14px;
  color: rgb(17, 88, 154);
  padding: 0 70px 0 10px;
  height: 55px;
  border-radius: 10px 0 0 10px;
  width: calc(100% - 55px);
}
#recherche .search-button {
  width: 55px;
  height: 55px;
  font-size: 25px;
  border-radius: 0 10px 10px 0;
  background: #fff;
  color: rgb(17, 88, 154);
}
#recherche .voitures {
  position: relative;
  top: 5vw;
  width: calc(100% + 40px);
  margin: 0 -20px;
}
#recherche .voitures.carMob {
  display: block;
}
@media (min-width: 768px) {
  #recherche .voitures.carMob {
    display: none;
  }
}
@media (min-width: 1025px) {
  #recherche .voitures.carMob {
    display: none;
  }
}
#recherche .voitures.carLaptop {
  display: none;
}
@media (min-width: 768px) {
  #recherche .voitures.carLaptop {
    display: block;
  }
}
@media (min-width: 1025px) {
  #recherche .voitures.carLaptop {
    display: none;
  }
}
#recherche .voitures.carDesktop {
  display: none;
}
@media (min-width: 1025px) {
  #recherche .voitures.carDesktop {
    display: block;
  }
}

#pourquoi .avis {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
#pourquoi .avis article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#pourquoi .logo {
  font-size: 50px;
  width: 50px;
}
#pourquoi .logo img {
  width: 100%;
  vertical-align: bottom;
}
#pourquoi .fa-facebook {
  color: #1877F2;
}
#pourquoi .avis-number {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-items: baseline;
}
@media (min-width: 600px) {
  #pourquoi .avis-number {
    flex-direction: row;
  }
}
#pourquoi .moyenne {
  font-size: 28px;
  color: rgb(3, 169, 245);
  font-weight: 700;
}
@media (min-width: 600px) {
  #pourquoi .moyenne {
    font-size: 36px;
  }
}
#pourquoi .total-avis {
  font-size: 14px;
}
@media (min-width: 600px) {
  #pourquoi .total-avis {
    font-size: 18px;
  }
}
#pourquoi .raisons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 50px;
}
@media (min-width: 1025px) {
  #pourquoi .raisons {
    flex-direction: row;
    justify-content: space-around;
  }
}
#pourquoi .choices, #pourquoi .controls, #pourquoi .satisfy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (min-width: 1025px) {
  #pourquoi .choices, #pourquoi .controls, #pourquoi .satisfy {
    flex-wrap: wrap;
    width: 340px;
  }
}
#pourquoi .controls {
  flex-direction: row-reverse;
}
#pourquoi .img-raison {
  flex-basis: 110px;
}
@media (min-width: 600px) {
  #pourquoi .img-raison {
    flex-basis: 220px;
  }
}
@media (min-width: 1025px) {
  #pourquoi .img-raison {
    flex-basis: 100%;
    height: 280px;
  }
}
#pourquoi .img-raison img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#pourquoi .text-raison {
  flex-basis: calc(100% - 128px);
  font-size: 14px;
}
@media (min-width: 600px) {
  #pourquoi .text-raison {
    font-size: 16px;
    flex-basis: calc(100% - 248px);
  }
}
@media (min-width: 1025px) {
  #pourquoi .text-raison {
    flex-basis: 100%;
  }
}
#pourquoi .text-raison h3 {
  color: rgb(3, 169, 245);
  font-size: 18px;
}
@media (min-width: 600px) {
  #pourquoi .text-raison h3 {
    font-size: 24px;
  }
}
#pourquoi .text-raison p {
  margin: 10px 0;
}
#pourquoi .occasion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
#pourquoi .video-occasion {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  flex-basis: 100%;
  border-radius: 10px;
  overflow: hidden;
}
#pourquoi .video-occasion iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 1025px) {
  #pourquoi .video-occasion {
    flex-basis: 50%;
    padding-bottom: 28%;
  }
}
#pourquoi .text-occasion {
  display: none;
  flex-basis: calc(50% - 40px);
}
#pourquoi .text-occasion h3 {
  font-size: 26px;
  color: rgb(17, 88, 154);
}
#pourquoi .text-occasion p {
  font-size: 16px;
  color: rgb(49, 49, 49);
}
@media (min-width: 1025px) {
  #pourquoi .text-occasion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 18px;
  }
}
#pourquoi .btn-occasion a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 88, 154);
  transition: all 0.3s ease;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  padding: 16px 25px;
  color: #fff;
}
#pourquoi .btn-occasion a:hover {
  background-color: rgb(14, 72, 125);
}/*# sourceMappingURL=style.css.map */