@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

button {
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  background: none;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

main {
  overflow: hidden;
}

.container {
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 15px;
}

.slider-container {
  position: relative;
  margin: 50px 10px 0;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: rgb(49, 49, 49);
  width: 50px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 15px;
}

.btn-left {
  left: -10px;
}

.btn-right {
  right: -10px;
}

.slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
}

.pagination {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.pagination li {
  display: block;
}
@media (min-width: 768px) {
  .pagination li:nth-last-child(-n+1) {
    display: none;
  }
}
@media (min-width: 1025px) {
  .pagination li:nth-last-child(-n+2) {
    display: none;
  }
}

.pagination-btn {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.pagination-btn::after {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  background: rgb(17, 88, 154);
  opacity: 0.2;
  border-radius: inherit;
}

.active {
  border-color: rgb(17, 88, 154);
}
.active::after {
  opacity: 1;
}

.button-area {
  margin: 30px 0;
}
.button-area a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 88, 154);
  transition: all 0.3s ease;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  padding: 16px 25px;
  color: #fff;
  max-width: 280px;
  margin: auto;
}
.button-area a:hover {
  background-color: rgb(14, 72, 125);
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.dropdown-toggle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 100%;
  height: 100%;
  text-align: left;
}

.arrow {
  transition: all 0.3s ease;
}
.arrow--open {
  transform: rotate(180deg);
}

.dropdown {
  transition: all 0.3s ease;
  flex: 0 0 100%;
  max-height: 0;
  overflow: hidden;
}
.dropdown--open {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 2;
}
.navbar .navbar-toggle {
  position: relative;
  z-index: 2;
}
.navbar .hamburger-logo {
  width: 20px;
  height: 20px;
}
.navbar .hamburger-logo rect {
  fill: rgb(49, 49, 49);
  transition: all 0.3s ease;
}
.navbar .hamburger-logo--open rect {
  transform-origin: center;
}
.navbar .hamburger-logo--open rect:nth-child(1) {
  transform: rotate(135deg) translate(0%, 40%);
}
.navbar .hamburger-logo--open rect:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}
.navbar .hamburger-logo--open rect:nth-child(3) {
  transform: rotate(-135deg) translate(0%, -40%);
}
.navbar .reezocar-logo {
  width: 180px;
  height: 64px;
}
.navbar-mobile {
  transition: all 0.4s ease;
  position: absolute;
  top: -512px;
  left: 0;
  width: 100%;
}
.navbar-mobile .brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #fff;
}
.navbar-mobile .navbar-link, .navbar-mobile .dropdown-toggle, .navbar-mobile .dropdown-agency {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(49, 49, 49);
  transition: all 0.2s ease;
  gap: 15px;
  height: 64px;
  width: 100%;
  background: #fff;
}
.navbar-mobile .navbar-link:hover, .navbar-mobile .dropdown-toggle:hover, .navbar-mobile .dropdown-agency:hover {
  background: rgb(17, 88, 154);
  color: #fff;
}
.navbar-mobile .dropdown--open {
  max-height: 80px;
}
.navbar-mobile .dropdown-agency {
  height: 40px;
}
.navbar-mobile--open {
  top: 0;
}

section, footer {
  padding: 0 20px;
  margin-bottom: 50px;
}
section h2, footer h2 {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  color: rgb(3, 169, 245);
}
@media (min-width: 600px) {
  section h2, footer h2 {
    font-size: 38px;
  }
}
section .subtitle, footer .subtitle {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #000;
  margin-top: 15px;
}
section .subtitle a, footer .subtitle a {
  font-weight: 600;
}
@media (min-width: 600px) {
  section .subtitle, footer .subtitle {
    font-size: 18px;
  }
}
section .primary-color, footer .primary-color {
  color: rgb(17, 88, 154);
}

#recherche {
  color: #fff;
  background: linear-gradient(90deg, rgb(17, 88, 154), rgb(3, 169, 245));
  padding: 120px 20px 0;
}
#recherche .title {
  margin: 0 0 40px 0;
}
#recherche h1 {
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  max-width: 263px;
  margin: 10px auto;
}
@media (min-width: 768px) {
  #recherche h1 {
    font-size: 36px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
}
#recherche p {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  margin: 0 auto;
}
#recherche p a {
  font-weight: 500;
}
@media (min-width: 768px) {
  #recherche p {
    font-size: 18px;
    max-width: 665px;
  }
}
#recherche .search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#recherche .input-group {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  max-width: 665px;
}
#recherche .input-group:focus-within {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
}
#recherche .search-input {
  font-size: 14px;
  color: rgb(17, 88, 154);
  padding: 0 70px 0 10px;
  height: 55px;
  border-radius: 10px 0 0 10px;
  width: calc(100% - 55px);
}
#recherche .search-button {
  width: 55px;
  height: 55px;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  color: rgb(17, 88, 154);
  border-radius: 0 10px 10px 0;
  background: #fff;
}
#recherche .voitures {
  position: relative;
  top: 5vw;
  width: calc(100% + 40px);
  margin: 0 -20px;
}
#recherche .voitures.carMob {
  display: block;
}
@media (min-width: 768px) {
  #recherche .voitures.carMob {
    display: none;
  }
}
@media (min-width: 1025px) {
  #recherche .voitures.carMob {
    display: none;
  }
}
#recherche .voitures.carLaptop {
  display: none;
}
@media (min-width: 768px) {
  #recherche .voitures.carLaptop {
    display: block;
  }
}
@media (min-width: 1025px) {
  #recherche .voitures.carLaptop {
    display: none;
  }
}
#recherche .voitures.carDesktop {
  display: none;
}
@media (min-width: 1025px) {
  #recherche .voitures.carDesktop {
    display: block;
  }
}

#pourquoi .avis {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
#pourquoi .avis article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#pourquoi .logo {
  font-size: 50px;
  width: 50px;
}
#pourquoi .logo img {
  width: 100%;
  vertical-align: bottom;
}
#pourquoi .fa-facebook {
  color: #1877F2;
}
#pourquoi .avis-number {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}
@media (min-width: 600px) {
  #pourquoi .avis-number {
    flex-direction: row;
  }
}
#pourquoi .moyenne {
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  color: rgb(3, 169, 245);
}
@media (min-width: 600px) {
  #pourquoi .moyenne {
    font-size: 36px;
  }
}
#pourquoi .total-avis {
  font-size: 14px;
}
@media (min-width: 600px) {
  #pourquoi .total-avis {
    font-size: 18px;
  }
}
#pourquoi .raisons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 50px;
}
@media (min-width: 1025px) {
  #pourquoi .raisons {
    flex-direction: row;
    justify-content: space-around;
  }
}
#pourquoi .choices, #pourquoi .controls, #pourquoi .satisfy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media (min-width: 1025px) {
  #pourquoi .choices, #pourquoi .controls, #pourquoi .satisfy {
    flex-wrap: wrap;
    width: 340px;
  }
}
#pourquoi .controls {
  flex-direction: row-reverse;
}
#pourquoi .img-raison {
  flex-basis: 110px;
}
@media (min-width: 600px) {
  #pourquoi .img-raison {
    flex-basis: 220px;
  }
}
@media (min-width: 1025px) {
  #pourquoi .img-raison {
    flex-basis: 100%;
    height: 280px;
  }
}
#pourquoi .img-raison img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#pourquoi .text-raison {
  flex-basis: calc(100% - 128px);
  font-size: 14px;
}
@media (min-width: 600px) {
  #pourquoi .text-raison {
    font-size: 16px;
    flex-basis: calc(100% - 248px);
  }
}
@media (min-width: 1025px) {
  #pourquoi .text-raison {
    flex-basis: 100%;
  }
}
#pourquoi .text-raison h3 {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: rgb(3, 169, 245);
}
@media (min-width: 600px) {
  #pourquoi .text-raison h3 {
    font-size: 24px;
  }
}
#pourquoi .text-raison p {
  margin: 10px 0;
}
#pourquoi .occasion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}
#pourquoi .container-video {
  flex-basis: 100%;
  height: 100%;
}
@media (min-width: 1025px) {
  #pourquoi .container-video {
    flex-basis: 40%;
  }
}
#pourquoi .video-occasion {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
#pourquoi .video-occasion img {
  width: 100%;
  top: -16.82%;
  left: 0;
  opacity: 1;
}
#pourquoi .video-occasion .lazy-play-btn {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
#pourquoi .video-occasion .lazy-play-btn:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26px;
  border-color: transparent transparent transparent #fff;
}
#pourquoi .video-occasion img, #pourquoi .video-occasion .lazy-play-btn {
  cursor: pointer;
}
#pourquoi .video-occasion img, #pourquoi .video-occasion iframe, #pourquoi .video-occasion .lazy-play-btn, #pourquoi .video-occasion .lazy-play-btn:before {
  position: absolute;
}
#pourquoi .video-occasion .lazy-play-btn, #pourquoi .video-occasion .lazy-play-btn:before {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
#pourquoi .video-occasion iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#pourquoi .text-occasion {
  display: none;
  flex-basis: 40%;
  flex-wrap: wrap;
  gap: 18px;
}
#pourquoi .text-occasion h3 {
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  color: rgb(17, 88, 154);
}
#pourquoi .text-occasion p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(49, 49, 49);
}
@media (min-width: 1025px) {
  #pourquoi .text-occasion {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

#offres .slider article {
  position: relative;
  flex: 1 0 300px;
  height: 400px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  z-index: -1;
}
#offres .slider img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}
#offres .slider a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 15px;
}

@media (min-width: 1025px) {
  #avis .slider {
    justify-content: center;
  }
}
#avis article {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  gap: 15px;
  padding: 22px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
@media (min-width: 768px) {
  #avis article {
    flex: 0 0 calc(50% - 15px);
  }
}
@media (min-width: 1025px) {
  #avis article {
    flex: 0 1 400px;
  }
}
#avis .comments {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: rgb(17, 88, 154);
}
#avis .signature {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-items: stretch;
  gap: 15px;
}
#avis .photo-profil {
  align-self: flex-start;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
#avis .text-profil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
#avis .name-profil {
  flex-basis: 100%;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: rgb(17, 88, 154);
}
#avis .adress-profil {
  flex-basis: 100%;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(17, 88, 154);
}
#avis .tags-profil {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
#avis .tags-profil .tag-profil {
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  color: rgb(17, 88, 154);
  border: 1px solid rgb(17, 88, 154);
  padding: 10px 20px;
  border-radius: 10px;
}

@media (min-width: 1025px) {
  #concessions .slider {
    justify-content: space-between;
  }
}
#concessions .dealer-container {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 15px;
  flex-wrap: wrap;
}
#concessions .dealer-photo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
@media (min-width: 768px) {
  #concessions .dealer-photo {
    width: calc(50% - 15px);
  }
}
@media (min-width: 768px) {
  #concessions .dealer-text {
    flex: calc(50% - 15px);
  }
}
#concessions .dealer-adress h3 {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: rgb(3, 169, 245);
}
@media (min-width: 600px) {
  #concessions .dealer-adress h3 {
    font-size: 26px;
  }
}
#concessions .dealer-adress p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: rgb(17, 88, 154);
  margin: 10px 0 10px;
}
@media (min-width: 600px) {
  #concessions .dealer-adress p {
    font-size: 24px;
  }
}
#concessions .dealer-opening {
  display: none;
}
#concessions .dealer-opening p {
  margin: 10px 0 10px;
}
@media (min-width: 600px) {
  #concessions .dealer-opening {
    display: block;
  }
}
#concessions .dealer-planning {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
#concessions .dealer-planning li {
  flex: 0 0 calc(50% - 5px);
}

#projet .slider {
  justify-content: flex-start;
}
@media (min-width: 715px) {
  #projet .slider {
    justify-content: center;
  }
}
#projet article {
  border: 2px solid rgb(17, 88, 154);
  border-radius: 10px;
  overflow: hidden;
  flex: 0 0 320px;
}
#projet article h3 {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  padding: 15px;
}
#projet article:first-child h3 {
  background: rgb(17, 88, 154);
}
#projet article:first-child i, #projet article:first-child h4 {
  color: rgb(17, 88, 154);
}
#projet article:last-child {
  border-color: rgb(3, 169, 245);
}
#projet article:last-child h3 {
  background: rgb(3, 169, 245);
}
#projet article:last-child i, #projet article:last-child h4 {
  color: rgb(3, 169, 245);
}
#projet .project-step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}
#projet .project-step i {
  flex: 1 1 20%;
  font-size: 38px;
}
#projet .project-text {
  flex: 1 1 80%;
}
#projet .project-text h4 {
  margin-bottom: 10px;
}

#blog .slider {
  justify-content: flex-start;
}
@media (min-width: 768px) {
  #blog .slider {
    justify-content: center;
  }
}
#blog article {
  flex: 0 0 285px;
}
#blog .blog {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 0 15px 0;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
#blog .blog:hover {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.35);
}
#blog .photo-blog {
  width: 100%;
}
#blog .banner {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  background: rgb(17, 88, 154);
  padding: 8px 10px;
  position: absolute;
  top: 10px;
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#blog .titre-blog {
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: rgb(49, 49, 49);
  padding: 0 15px;
}
#blog .text-blog {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: rgb(49, 49, 49);
  padding: 0 15px;
}
#blog .link-blog {
  flex-basis: 100%;
  text-align: right;
  align-self: flex-end;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: rgb(3, 169, 245);
  padding: 0 15px;
}

#populaire .etat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 50px;
}
#populaire input[type=radio] {
  position: absolute;
  opacity: 0;
}
#populaire .modele-btn:first-child label {
  border: 1px solid rgb(17, 88, 154);
}
#populaire .modele-btn:nth-child(2) label {
  color: rgb(3, 169, 245);
  border: 1px solid rgb(3, 169, 245);
}
#populaire .modele-btn:last-child label {
  color: #F29400;
  border: 1px solid #F29400;
}
#populaire label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 110px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: rgb(17, 88, 154);
}
#populaire input[type=radio]:checked ~ .state-label {
  color: #fff;
}
#populaire input[type=radio]:checked ~ #neuf-btn {
  background: rgb(17, 88, 154);
}
#populaire input[type=radio]:checked ~ #occasion-btn {
  background: rgb(3, 169, 245);
}
#populaire input[type=radio]:checked ~ #loa-btn {
  background: #F29400;
}
@media (min-width: 1025px) {
  #populaire .slider {
    justify-content: center;
  }
}
#populaire .marque {
  flex: 0 0 134px;
  height: 104px;
}
#populaire .marque .marque-label {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid #DCDCDC;
  border-radius: 6px;
  color: rgb(49, 49, 49);
  transition: all 0.3s ease;
}
#populaire .marque .marque-label:hover {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
}
#populaire .marque input[type=radio]:checked ~ .marque-label {
  box-shadow: rgba(0, 0, 0, 0.35) 4px 4px 15px;
  border-color: rgb(17, 88, 154);
}
#populaire .logo-marque {
  max-width: 90px;
  max-height: 50px;
}
#populaire .modeles {
  border-radius: 10px;
  overflow: hidden;
}
#populaire .modeles .slider {
  gap: 0;
  justify-content: flex-start;
}
#populaire .modele {
  flex: 0 0 149px;
  height: 130px;
}
#populaire .modele-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  background: rgba(17, 88, 154, 0.05);
  width: 100%;
  height: 100%;
}
#populaire .modele-link:hover {
  background: rgba(17, 88, 154, 0.2);
}
#populaire .modele-name {
  font-size: 14px;
  font-weight: 600;
}
#populaire .populaire-text {
  font-size: 16px;
  color: rgb(17, 88, 154);
}
#populaire .populaire-text a {
  font-weight: 600;
  text-decoration: underline;
}

@media (min-width: 600px) {
  #contact .container {
    max-width: 570px;
    margin: 0 auto;
  }
}
#contact .container p {
  font-size: 14px;
}
@media (min-width: 600px) {
  #contact .container p {
    font-size: 18px;
  }
}
#contact .slider-container {
  width: 75%;
  margin: 20px auto;
}
#contact .slider {
  justify-content: flex-start;
  overflow: hidden;
}
#contact .slider-btn {
  box-shadow: none;
  width: 30px;
  height: 30px;
}
#contact .btn-left {
  left: -30px;
}
#contact .btn-right {
  right: -30px;
}
#contact .contact-profil {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  gap: 15px;
}
@media (min-width: 600px) {
  #contact .contact-profil {
    font-size: 18px;
  }
}
#contact .contact-profil img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 600px) {
  #contact .contact-profil img {
    width: 150px;
    height: 150px;
  }
}
#contact .contact-profil h3 {
  color: rgb(17, 88, 154);
}
#contact .contact-profil p {
  color: rgb(3, 169, 245);
}

footer .logo-footer {
  margin: 20px 0 40px;
}
footer .list-group {
  margin: 0 -20px;
}
footer .list-group-item {
  font-size: 16px;
  font-weight: 600;
  height: 66px;
  border-bottom: 1px solid #E5E5E5;
}
footer .list-group-item-language {
  height: auto;
}
footer .list-group-item a {
  padding: 10px 20px;
}
footer a, footer .language-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
footer .language-flag, footer .list-flag {
  width: 28px;
}
footer .dropdown-container {
  height: inherit;
}
footer .dropdown-toggle {
  padding: 10px 20px;
  gap: 10px;
}
footer .dropdown-toggle button, footer .list-language button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 44px;
  text-align: left;
  padding: 0 20px;
}
footer .dropdown--open {
  max-height: 176px;
}
footer .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 30px 0 30px;
}
footer .social-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 0 0 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(49, 49, 49);
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.15s ease;
}
footer .mentions {
  color: rgb(170, 170, 170);
}/*# sourceMappingURL=style.css.map */