// typos
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

// mixins + variables
@import '_variables';
@import '_mixins';

// reset CSS et generalites
@import 'general';

// ---------------------------- navbar ----------------------------
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
@include media(large) {
    .navbar {
        display: flex;
    }
}
.navbar-toggler {
    @include media(large){
        display: none;
    }
    background: none;
    z-index: 1;
    .hamburger-logo {
        width: 20px;
        height: 20px;
        rect {
            @include transition(.6s);
            transform-origin: center;
            fill: rgb(255, 255, 255);
        }
    } 
    .hamburger-logo--open {
        rect {
            fill: #000;
        }
        rect:nth-child(1) {
            transform: rotate(135deg) translate(0%,40%);
        }
        rect:nth-child(2) {
            transform: translateX(100%);
            opacity: 0;
        }
        rect:nth-child(3) {
            transform: rotate(-135deg) translate(-0%,-40%);
        }
    }
}
.navbar-desktop {
    display: none;
    @include media(large) {
        display: block;
    }
}
.overlayer {
    @include flex(row, center, center);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: none;
    &--open {
        display: flex;
    }
    @include media(large) {
        display: none;
    }
}
.navbar-section {
    @include flex(row, space-between, center);
    @include gutter();
    position: relative;
    height: $navbar-height;
    background: linear-gradient(to right, rgb(17, 88, 154), rgb(3, 169, 245));
    z-index: 2;
    .reezocar-logo {
        width: 236px;
        height: 33px;
    }
    .reezocar-logo--close {
        path {
            fill: #fff;
        }
    }
    .reezocar-logo--open {
        path {
            fill: #313131;
        }
        path:nth-last-child(-n+2) {
            fill: #F29400;
        }
    }
    .account-mob {
        @include font-face( 25px, 400, normal, #fff );
        @include media(large) {
            display: none;
        }
    }
    .account-desktop {
        @extend .account-mob;
        @include button;
        display: none;
        font-size: 14px;
        @include media(large) {
            display: flex;
        }
    }
}
.sub-navbar {
    @include flex(column, space-between, center);
    @include transition(.4s);
    position: absolute;
    width: 100%;
    height: calc(100vh - $navbar-height);
    left: 0;
    bottom: $navbar-height;
    background-color: #fff;
    &--open {
        bottom: calc(-100vh + $navbar-height);
    }
    nav {
        width: 100%;
    }
    @include media(large) {
        display: none;
    }
}
.navbar {
    .nav-item, .dropdown-toggle {
        @include font-face( inherit, 400, normal, $primary-color );
        @include transition(.3s);
        &:not(.dropdown-toggle):hover {
            background: $primary-color;
            color: #fff;
        }
        @include media(large) {
            color: #fff;
            &:not(.dropdown-toggle):hover {
                background: none;
            }
        }
    }
}
.dropdown {
    position: relative;
}
.nav-link {
    @include gutter();
    @include flex(row, flex-start, center);
    gap: 10px;
    height: 70px;
}
.nav-icon {
    @include flex(row, center, center);
    width: 30px;
    height: 100%;
    i {
        font-size: 24px;
    }
}
.dropdown-toggle {
    @include transition(.3s);
    @include gutter();
    @include flex(row, space-between, center);
    .nav-link {
        padding: 0;
    }
    .fa-chevron-down {
        @include transition(.3s);
        &--open {
            transform: rotate(180deg);
        }
    }
    @include media(large) {
        gap: 10px;
    }
}
.dropdown-menu {
    max-height: 0;
    overflow: hidden;
    @include transition(.4s);
    .nav-link {
        height: 50px;
    }
    &--open {
        max-height: 100px;
    }
    @include media(large) {
        position: absolute;
        bottom: -100px;
        left: -10px;
        opacity: 0;
        overflow: visible;
        width: 170px;
        max-height: max-content;
        background-color: #fff;
        box-shadow: $boxShadow;
        border-radius: $border-radius;
        .nav-item:not(.dropdown-toggle) {
            @include flex(row, center, center);
            color: $tertiary-color;
            &:hover {
                color: $tertiary-color;
                font-weight: 600;
            }
        }
        &--open {
            opacity: 1;
        }
    }
}
.navbar-contact {
    width: 100%;
    height: 87px;
    background-color: $secondary-color;
    @include flex(row, space-evenly, center);
    .contact {
        @include flex(column, center, center);
        @include transition(.3s);
        @include font-face( 12px, 400, normal, #fff );
        gap: 10px;
        i {
            font-size: 35px;
        }
    }
}

// section
section {
    @include gutter();
    margin-bottom: 50px;
    h2 {
        @include font-face( $title, 700, normal, $secondary-color );
        @include media(small) {
            font-size: 38px;
        }
    }
    .subtitle {
        @include font-face( $subtitle, 400, normal, #000 );
        margin-top: 15px;
        a {
            font-weight: 600;
        }
        @include media(small) {
            font-size: 18px;
        }
    }
    .primary-color {
        color: $primary-color;
    }
}

#recherche {
    color: #fff;
    background: linear-gradient(90deg, $primary-color, $secondary-color);
    padding: calc($navbar-height + 56px) $gutter 0;
    .title {
        margin: 0 0 40px 0;
    }
    h1 {
        @include font-face( 26px, 700, normal, #fff );
        max-width: 263px;
        margin: 10px auto;
        @include media(medium) {
            font-size: 36px;
            max-width: fit-content;
        }
    }
    p {
        @include font-face( 14px, 300, normal, #fff );
        margin: 0 auto;
        a {
            font-weight: 500;
        }
        @include media(medium) {
            font-size: 18px;
            max-width: 665px;
        }
    }
    .search-form {
        @include flex(row, center, center);
    }
    .input-group {
        @include transition(.3s);
        @include flex(row, flex-start, center);
        width: 100%;
        border-radius: $border-radius;
        max-width: 665px;
        &:focus-within {
            box-shadow: $boxShadow;
        }
    }
    .search-input {
        @include input;
        padding: 0 70px 0 10px;
        height: 55px;
        border-radius: $border-radius 0 0 $border-radius;
        width: calc(100% - 55px);
        
    }
    .search-button {
        width: 55px;
        height: 55px;
        @include font-face( 25px, 400, normal, $primary-color );
        border-radius: 0 $border-radius $border-radius 0;
        background: #fff;
    }
    .voitures {
        position: relative;
        top: 5vw;
        width: calc(100% + 40px);
        margin: 0 -20px;
        &.carMob {
            display: block;
            @include media(medium, large) {
                display: none;
            }
        }
        &.carLaptop {
            display: none;
            @include media(medium) {
                display: block;
            }
            @include media(large) {
                display: none;
            }
        }
        &.carDesktop {
            display: none;
            @include media(large) {
                display: block;
            }
        }
    }
}

#pourquoi {
    .avis {
        @include flex(row, space-evenly, center);
        margin-top: 50px;
        article {
            @include flex(row, center, center);
            gap: 10px;
        }
    }
    .logo {
        font-size: 50px;
        width: 50px;
        img {
            width: 100%;
            vertical-align: bottom;
        }
    }
    .fa-facebook {
        color: #1877F2;
    }
    .avis-number {
        @include flex(column, flex-start, baseline);
        @include media(small) {
            flex-direction: row;
        }
    }
    .moyenne {
        @include font-face( 28px, 700, normal, $secondary-color );
        @include media(small) {
            font-size: 36px;
        }
    }
    .total-avis {
        font-size: 14px;
        @include media(small) {
            font-size: 18px;
        }
    }
    .raisons {
        @include flex(column, center, center);
        gap: 18px;
        margin-top: 50px;
        @include media(large) {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    .choices, .controls, .satisfy {
        @include flex(row, center, center);
        gap: 30px;
        @include media(large) {
            flex-wrap: wrap;
            width: 340px;
        }
    }
    .controls {
        flex-direction: row-reverse;
    }
    .img-raison {
        flex-basis: 110px;
        @include media(small) {
            flex-basis: 220px;
        }
        @include media(large) {
            flex-basis: 100%;
            height: 280px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .text-raison {
        flex-basis: calc(100% - 128px);
        font-size: 14px;
        @include media(small) {
            font-size: 16px;
            flex-basis: calc(100% - 248px);
        }
        @include media(large) {
            flex-basis: 100%;
        }
        h3 {
            @include font-face( 18px, 700, normal, $secondary-color );
            @include media(small) {
                font-size: 24px;
            }
        }
        p {
            margin: 10px 0;
        }
    }
    .occasion {
        @include flex(row, center, flex-start);
        flex-wrap: wrap;
        gap: 30px;
        margin-top: 50px;
    }
    .container-video {
        flex-basis: 100%;
        height: 100%;
        @include media(large) {
            flex-basis: 50%;
        }
    }
    .video-occasion {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        width: 100%;
        border-radius: $border-radius;
        overflow: hidden;
        & img {
            width: 100%;
            top: -16.82%;
            left: 0;
            opacity: 1;
        }
        & .lazy-play-btn {
            width: 90px;
            height: 60px;
            background-color: #333;
            box-shadow: 0 0 30px rgba( 0,0,0,0.6 );
            z-index: 1;
            opacity: 0.8;
            border-radius: 6px;
        }
        & .lazy-play-btn:before {
            content: "";
            border-style: solid;
            border-width: 15px 0 15px 26.0px;
            border-color: transparent transparent transparent #fff;
        }
        & img,
        & .lazy-play-btn {
            cursor: pointer;
        }
        & img,
        & iframe,
        & .lazy-play-btn,
        & .lazy-play-btn:before {
            position: absolute;
        }
        & .lazy-play-btn,
        & .lazy-play-btn:before {
            top: 50%;
            left: 50%;
            transform: translate3d( -50%, -50%, 0 );
        }
        iframe {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .text-occasion {
        display: none;
        flex-basis: calc(50% - 40px);
        flex-wrap: wrap;
        gap: 18px;
        h3 {
            @include font-face( 26px, 400, normal, $primary-color );
        }
        p {
            @include font-face( 16px, 400, normal, $tertiary-color );
        }
        @include media(large) {
            @include flex(row, flex-start, center);
        }
    }
}

#offres {
    .slider {
        article {
            position: relative;
            flex: 1 0 300px;
            height: 400px;
            box-shadow: $boxShadow;
            border-radius: $border-radius;
            overflow: hidden;
            z-index: -1;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            // width: 100%;
            object-fit: contain;
            z-index: -1;
        }
        a {
            @include flex(column, flex-end, flex-start);
            flex-wrap: wrap;
            gap: 15px;
            width: 100%;
            height: 100%;
            color: #fff;
            padding: 15px;
        }
    }
}

#avis {
    article {
        flex: 0 0 100%;
        @include flex(column, space-between, baseline);
        gap: 15px;
        padding: 22px;
        box-shadow: $boxShadow;
        border-radius: $border-radius;
        @include media(medium) {
            flex: 0 0 calc(50% - 15px);
        }
        @include media(large) {
            flex: 0 1 400px;
        }
    }
    .comments {
        @include font-face( 16px, 400, italic, $primary-color );
    }
    .signature {
        @include flex(row, flex-start, center);
        align-items: stretch;
        gap: 15px;
    }
    .photo-profil {
        align-self: flex-start;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
    .text-profil {
        @include flex(row, space-between, center);
        flex-wrap: wrap;
        gap: 15px;
    }
    .name-profil {
        flex-basis: 100%;
        @include font-face( 18px, 700, normal, $primary-color );
    }
    .adress-profil {
        flex-basis: 100%;
        @include font-face( 16px, 400, normal, $primary-color );
    }
    .tags-profil {
        @include flex(row, flex-start, center);
        gap: 15px;
        flex-wrap: wrap;
        .tag-profil {
            @include font-face( 12px, 600, normal, $primary-color );
            border: 1px solid $primary-color;
            padding: 10px 20px;
            border-radius: $border-radius;
        }
    }
}

#concessions {
    .slider {
        @include media(large) {
            justify-content: space-between;
        }
    }
    .dealer-container {
        flex: 0 0 100%;
        @include flex(row, flex-start, stretch);
        gap: 15px;
        flex-wrap: wrap;
    }
    .dealer-photo {
        width: 100%;
        object-fit: cover;
        border-radius: $border-radius;
        @include media(medium) {
            width: calc(50% - 15px);
        }
    }
    .dealer-text {
        @include media(medium) {
            flex: calc(50% - 15px);
        }
    }
    .dealer-adress {
        h3 {
            @include font-face( 18px, 700, normal, $secondary-color );
            @include media(small) {
                font-size: 26px;
            }
        }
        p {
            @include font-face( 16px, 400, normal, $primary-color );
            margin: 10px 0 10px;
            @include media(small) {
                font-size: 24px;
            }
        }
    }
    .dealer-opening {
        display: none;
        p {
            margin: 10px 0 10px;
        }
        @include media(small) {
            display: block;
        }
    }
    .dealer-planning {
        @include flex(row, flex-start, center);
        flex-wrap: wrap;
        gap: 10px;
        li {
            flex: 0 0 calc(50% - 5px);
        }
    }
}

#projet {
    .slider {
        justify-content: flex-start;
        @media (min-width: 715px) {
            justify-content: center;
        }
    }
    article {
        border: 2px solid $primary-color;
        border-radius: $border-radius;
        overflow: hidden;
        flex: 0 0 320px;
        h3 {
            @include font-face( 18px, 700, normal, #fff );
            padding: 15px;
        }
    }
    article:first-child {
        h3 {
            background: $primary-color;
        }
        i, h4 {
            color: $primary-color;
        }
    }
    article:last-child {
        border-color: $secondary-color;
        h3 {
            background: $secondary-color;
        }
        i, h4 {
            color: $secondary-color;
        }
    }
    .project-step {
        @include flex(row, flex-start, center);
        padding: 15px;
        i {
            flex: 1 1 20%;
            font-size: 38px;
            
        }
    }
    .project-text {
        flex: 1 1 80%;
        h4 {
            margin-bottom: 10px;
        }
    }
}

#blog {
    .slider {
        justify-content: flex-start;
        @include media(medium) {
            justify-content: center;
        }
    }
    article {
        flex: 0 0 285px;
    }
    .blog {
        @include flex(row, flex-start, baseline);
        @include boxShadow(#000);
        @include transition(.3s);
        flex-wrap: wrap;
        gap: 15px;
        padding: 0 0 15px 0;
        height: 100%;
        border-radius: $border-radius;
        overflow: hidden;
        position: relative;
    }
    .photo-blog {
        width: 100%;
    }
    .banner {
        @include font-face( 16px, 600, normal, #fff );
        background: $primary-color;
        padding: 8px 10px;
        position: absolute;
        top: 10px;
        left: 0;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
    .titre-blog {
        @include font-face( 18px, 700, normal, $tertiary-color );
        padding: 0 15px;
    }
    .text-blog {
        @include font-face( 14px, 300, normal, $tertiary-color );
        padding: 0 15px;
    }
    .link-blog {
        flex-basis: 100%;
        text-align: right;
        align-self: flex-end;
        @include font-face( 16px, 700, normal, $secondary-color );
        padding: 0 15px;
    }
}

#populaire {
    .etat {
        @include flex(row, center, center);
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 50px;
    }
    input[type=radio] {
        position: absolute;
        opacity: 0;
    }
    .modele-btn {
        &:first-child label {
            border: 1px solid $primary-color;
        }
        &:nth-child(2) label {
            color: $secondary-color;
            border: 1px solid $secondary-color;
        }
        &:last-child label {
            color: #F29400;
            border: 1px solid #F29400;
        }
    }
    label {
        @include flex(column, center, center);
        flex-wrap: wrap;
        width: 110px;
        height: 40px;
        border-radius: $border-radius;
        @include font-face( 16px, 700, normal, $primary-color );
    }
    input[type=radio]:checked {
        & ~ .state-label {
            color: #fff;
        }
        & ~ #neuf-btn {
            background: $primary-color;
        }
        & ~ #occasion-btn {
            background: $secondary-color;
        }
        & ~ #loa-btn {
            background: #F29400;
        }
    }

    .marque {
        flex: 0 0 134px;
        height: 104px;
        .marque-label {
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
            gap: 10px;
            border: 1px solid #DCDCDC;
            border-radius: 6px;
            color: $tertiary-color;
            @include transition(.3s);
            &:hover {
                box-shadow: $boxShadow;
            }
        }
        & input[type=radio]:checked ~ .marque-label {
            box-shadow: rgb(0 0 0 / 35%) 4px 4px 15px;
            border-color: $primary-color;
        }
    }
    .logo-marque {
        max-width: 90px;
        max-height: 50px;
    }

    .modeles {
        border-radius: $border-radius;
        overflow: hidden;
        .slider {
            gap: 0;
            justify-content: flex-start;
        }
    }
    .modele {
        flex: 0 0 149px;
        height: 130px
    }
    .modele-link {
        @include flex(column, center, center);
        @include transition(.3s);
        background: rgba($primary-color, .05);
        width: 100%;
        height: 100%;
        &:hover {
            background: rgba($primary-color, .2);
        }
    }
    .modele-name {
        font-size: 14px;
        font-weight: 600;
    }
}