$primary-color: rgb(17, 88, 154);
$secondary-color: rgb(3, 169, 245);
$tertiary-color: rgb(49, 49, 49);
$hover-button: rgb(14, 72, 125);

$navbar-height: 64px;
$gutter: 20px;
$title: 38px;
$subtitle: 18px;
$border-radius: 10px;